In [31]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

# Date and Time Data Types and Tools

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2024, 2, 27, 19, 44, 36, 474176)

In [5]:
now.year, now.month, now.day

(2024, 2, 27)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [13]:
start = datetime(2011,  1, 7)

In [14]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [15]:
start -2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## Converting between String and Datetime

In [16]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [18]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [19]:
value = "2011-01-03"
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
datestrs = ["7/6/2011", "8/6/2011"]
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [21]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 12:00:00"]

In [22]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 12:00:00'], dtype='datetime64[ns]', freq=None)

In [23]:
idx = pd.to_datetime(datestrs + [None])

In [24]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 12:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [25]:
idx[2]

NaT

In [26]:
pd.isna(idx)

array([False, False,  True])

# Time Series Basics

In [28]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 5), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12), datetime(2011, 1, 22), datetime(2011, 1, 25)]

In [31]:
ts = pd.Series(np.random.standard_normal(8), index=dates)
ts

2011-01-02    0.289658
2011-01-05    0.214387
2011-01-05    0.521359
2011-01-08   -0.532275
2011-01-10    1.398485
2011-01-12    0.128016
2011-01-22    1.185428
2011-01-25   -0.097993
dtype: float64

In [32]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-05', '2011-01-08',
               '2011-01-10', '2011-01-12', '2011-01-22', '2011-01-25'],
              dtype='datetime64[ns]', freq=None)

In [33]:
ts + ts[::2]

2011-01-02    0.579315
2011-01-05    0.735746
2011-01-05    1.042718
2011-01-08         NaN
2011-01-10    2.796969
2011-01-12         NaN
2011-01-22    2.370855
2011-01-25         NaN
dtype: float64

In [34]:
ts.index.dtype

dtype('<M8[ns]')

In [35]:
stamp = ts.index[0]

In [36]:
stamp

Timestamp('2011-01-02 00:00:00')

## Indexing, Selection and Subsetting

In [37]:
stamp = ts.index[2]

In [38]:
ts[stamp]

2011-01-05    0.214387
2011-01-05    0.521359
dtype: float64

In [39]:
ts["2011-01-10"]

1.3984847231697926

In [40]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                     index=pd.date_range("2000-01-01", periods=1000))
longer_ts

2000-01-01    0.292258
2000-01-02    0.704028
2000-01-03   -2.489232
2000-01-04   -2.048139
2000-01-05    1.420965
                ...
2002-09-22   -1.196079
2002-09-23    0.410882
2002-09-24    1.398699
2002-09-25    0.250738
2002-09-26    1.367833
Freq: D, Length: 1000, dtype: float64

In [41]:
longer_ts["2001"]

2001-01-01   -2.754613
2001-01-02    1.063009
2001-01-03   -0.582890
2001-01-04   -0.419703
2001-01-05   -0.656927
                ...
2001-12-27   -1.517965
2001-12-28   -0.282176
2001-12-29   -1.236410
2001-12-30   -0.660108
2001-12-31   -0.953876
Freq: D, Length: 365, dtype: float64

In [42]:
longer_ts["2001-05"]

2001-05-01   -0.547077
2001-05-02    0.049083
2001-05-03   -0.193066
2001-05-04    2.163427
2001-05-05    1.518000
2001-05-06    0.565211
2001-05-07    1.083040
2001-05-08    1.135986
2001-05-09    0.556329
2001-05-10   -0.224991
2001-05-11    1.774613
2001-05-12   -0.425213
2001-05-13    0.541059
2001-05-14    0.628801
2001-05-15   -0.702820
2001-05-16   -1.956681
2001-05-17    0.863647
2001-05-18    0.648377
2001-05-19    0.587109
2001-05-20   -0.048713
2001-05-21    1.581705
2001-05-22   -0.625536
2001-05-23   -0.017990
2001-05-24   -0.460779
2001-05-25    3.283372
2001-05-26   -2.299227
2001-05-27    0.232540
2001-05-28   -2.392056
2001-05-29   -1.225000
2001-05-30   -0.354329
2001-05-31    0.761021
Freq: D, dtype: float64

In [44]:
ts[datetime(2011, 1, 7):]

2011-01-08   -0.532275
2011-01-10    1.398485
2011-01-12    0.128016
2011-01-22    1.185428
2011-01-25   -0.097993
dtype: float64

In [45]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-08   -0.532275
2011-01-10    1.398485
dtype: float64

In [46]:
ts

2011-01-02    0.289658
2011-01-05    0.214387
2011-01-05    0.521359
2011-01-08   -0.532275
2011-01-10    1.398485
2011-01-12    0.128016
2011-01-22    1.185428
2011-01-25   -0.097993
dtype: float64

In [47]:
ts.truncate(after="2011-01-09")

2011-01-02    0.289658
2011-01-05    0.214387
2011-01-05    0.521359
2011-01-08   -0.532275
dtype: float64

In [49]:
dates = pd.date_range("2000-01-01", periods=100, freq="W-WED")

In [50]:
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                      index=dates,
                      columns=["Colorado", "Texas", "New York", "Ohio"])

long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02  1.267010 -0.893177  2.925037  2.124810
2001-05-09 -0.445385 -0.096812 -0.892383 -0.743263
2001-05-16 -1.080126 -2.469665 -1.315932  1.642921
2001-05-23  0.028012 -1.927611 -0.510307 -0.532378
2001-05-30  0.813707  0.828317  0.528985  2.179563

## Time series with duplicate indices

In [53]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02", "2000-01-02", "2000-01-03"])

dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [54]:
dup_ts.index.is_unique

False

In [57]:
dup_ts["2000-01-03"]

4

In [58]:
dup_ts["2000-01-02"]

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [60]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [61]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# Date Ranges, Frequencies, and Shifting

In [62]:
ts

2011-01-02    0.289658
2011-01-05    0.214387
2011-01-05    0.521359
2011-01-08   -0.532275
2011-01-10    1.398485
2011-01-12    0.128016
2011-01-22    1.185428
2011-01-25   -0.097993
dtype: float64

In [64]:
resampler = ts.resample("D")
resampler

## Generating date ranges

In [65]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range(start="2012-04-01", periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [68]:
pd.date_range(end="2012-04-01", periods=20)

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range("2011-04-01", "2012-06-01", freq="BM")

DatetimeIndex(['2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29',
               '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30',
               '2011-12-30', '2012-01-31', '2012-02-29', '2012-03-30',
               '2012-04-30', '2012-05-31'],
              dtype='datetime64[ns]', freq='BM')

In [71]:
pd.date_range("2012-05-02 12:56:31", periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [72]:
pd.date_range("2012-05-02 12:56:31", periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## Frequencies and Date Offsets

In [32]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [76]:
four_hours = Hour(4)
four_hours

In [78]:
pd.date_range("2000-01-01", "2000-01-03 23:59", freq="4H")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [79]:
Hour(2) + Minute(30)

In [81]:
pd.date_range("2000-01-01", periods=10, freq="1h30min")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [85]:
monthly_dates = pd.date_range("2024-01-01", "2024-09-01", freq="WOM-3FRI")
list(monthly_dates)

[Timestamp('2024-01-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-02-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-03-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-04-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-05-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-06-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-07-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2024-08-16 00:00:00', freq='WOM-3FRI')]

## Shifting (Leading and Lagging) Data

In [86]:
ts = pd.Series(np.random.standard_normal(4),
              index=pd.date_range("2000-01-01", periods=4, freq="M"))
ts

2000-01-31    0.936243
2000-02-29    1.347583
2000-03-31   -0.271243
2000-04-30   -0.094729
Freq: M, dtype: float64

In [87]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.936243
2000-04-30    1.347583
Freq: M, dtype: float64

In [88]:
ts.shift(-2)

2000-01-31   -0.271243
2000-02-29   -0.094729
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [89]:
ts.shift(2, freq="M")

2000-03-31    0.936243
2000-04-30    1.347583
2000-05-31   -0.271243
2000-06-30   -0.094729
Freq: M, dtype: float64

In [90]:
ts.shift(3, freq="D")

2000-02-03    0.936243
2000-03-03    1.347583
2000-04-03   -0.271243
2000-05-03   -0.094729
dtype: float64

In [91]:
ts.shift(1, freq="90T")

2000-01-31 01:30:00    0.936243
2000-02-29 01:30:00    1.347583
2000-03-31 01:30:00   -0.271243
2000-04-30 01:30:00   -0.094729
dtype: float64

In [33]:
from pandas.tseries.offsets import Day, MonthEnd

In [93]:
now = datetime(2011, 11, 17)

In [94]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [95]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [96]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [97]:
offset = MonthEnd()

In [98]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [99]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [102]:
ts = pd.Series(np.random.standard_normal(20),
              index=pd.date_range("2000-01-15", periods=20, freq="4D"))
ts

2000-01-15    1.010290
2000-01-19    0.475346
2000-01-23   -0.232113
2000-01-27   -1.406639
2000-01-31   -0.934744
2000-02-04    0.586671
2000-02-08   -1.532959
2000-02-12   -0.006351
2000-02-16    1.236539
2000-02-20    0.214477
2000-02-24   -0.813024
2000-02-28   -0.078884
2000-03-03   -1.106334
2000-03-07   -1.065833
2000-03-11    1.517566
2000-03-15    0.820434
2000-03-19    1.326351
2000-03-23   -0.290262
2000-03-27    0.356398
2000-03-31    0.447468
Freq: 4D, dtype: float64

In [103]:
ts.groupby(MonthEnd().rollforward).mean()

2000-01-31   -0.217572
2000-02-29   -0.056219
2000-03-31    0.250723
dtype: float64

In [104]:
ts.resample("M").mean()

2000-01-31   -0.217572
2000-02-29   -0.056219
2000-03-31    0.250723
Freq: M, dtype: float64

# Time Zone Handling

In [2]:
import pytz

In [3]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [4]:
tz = pytz.timezone("America/New_York")
tz

## Time Zone Localizatio and Conversion

In [6]:
dates = pd.date_range("2012-03-09 09:30", periods=6)
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

2012-03-09 09:30:00    0.785988
2012-03-10 09:30:00   -1.929045
2012-03-11 09:30:00   -0.333868
2012-03-12 09:30:00   -0.156860
2012-03-13 09:30:00    1.316421
2012-03-14 09:30:00   -1.341867
Freq: D, dtype: float64

In [7]:
print(ts.index.tz)

None

In [8]:
pd.date_range("2012-03-09 09:30", periods=10, tz="UTC")

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [9]:
ts

2012-03-09 09:30:00    0.785988
2012-03-10 09:30:00   -1.929045
2012-03-11 09:30:00   -0.333868
2012-03-12 09:30:00   -0.156860
2012-03-13 09:30:00    1.316421
2012-03-14 09:30:00   -1.341867
Freq: D, dtype: float64

In [11]:
ts_utc = ts.tz_localize("UTC")
ts_utc

2012-03-09 09:30:00+00:00    0.785988
2012-03-10 09:30:00+00:00   -1.929045
2012-03-11 09:30:00+00:00   -0.333868
2012-03-12 09:30:00+00:00   -0.156860
2012-03-13 09:30:00+00:00    1.316421
2012-03-14 09:30:00+00:00   -1.341867
Freq: D, dtype: float64

In [13]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [14]:
ts_utc.tz_convert("America/New_York")

2012-03-09 04:30:00-05:00    0.785988
2012-03-10 04:30:00-05:00   -1.929045
2012-03-11 05:30:00-04:00   -0.333868
2012-03-12 05:30:00-04:00   -0.156860
2012-03-13 05:30:00-04:00    1.316421
2012-03-14 05:30:00-04:00   -1.341867
Freq: D, dtype: float64

In [15]:
ts_eastern = ts.tz_localize("America/New_York")
ts_eastern.tz_convert("UTC")

2012-03-09 14:30:00+00:00    0.785988
2012-03-10 14:30:00+00:00   -1.929045
2012-03-11 13:30:00+00:00   -0.333868
2012-03-12 13:30:00+00:00   -0.156860
2012-03-13 13:30:00+00:00    1.316421
2012-03-14 13:30:00+00:00   -1.341867
dtype: float64

In [17]:
ts_eastern.tz_convert("Europe/Berlin")

2012-03-09 15:30:00+01:00    0.785988
2012-03-10 15:30:00+01:00   -1.929045
2012-03-11 14:30:00+01:00   -0.333868
2012-03-12 14:30:00+01:00   -0.156860
2012-03-13 14:30:00+01:00    1.316421
2012-03-14 14:30:00+01:00   -1.341867
dtype: float64

In [21]:
ts.index.tz_localize("Asia/Shanghai")

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

## Operation with Time Zone-Aware Timestamp Objects

In [22]:
stamp = pd.Timestamp("2011-03-12 04:00")
stamp_utc = stamp.tz_localize("utc")
stamp_utc.tz_convert("America/New_York")

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [23]:
stamp_moscow = pd.Timestamp("2011-03-12 04:00", tz="Europe/Moscow")
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [25]:
stamp_utc.value

1299902400000000000

In [27]:
stamp_utc.tz_convert("America/New_York").value

1299902400000000000

In [29]:
stamp = pd.Timestamp("2012-03-11 01:30", tz="US/Eastern")
stamp

Timestamp('2012-03-11 01:30:00-0500', tz='US/Eastern')

In [35]:
stamp + Hour()

Timestamp('2012-03-11 03:30:00-0400', tz='US/Eastern')

In [36]:
stamp = pd.Timestamp("2012-11-04 00:30", tz="US/Eastern")
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [37]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

## Operations between different time zones

In [38]:
dates = pd.date_range("2012-03-07 09:30", periods=10, freq="B")
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

2012-03-07 09:30:00   -0.512175
2012-03-08 09:30:00    0.021374
2012-03-09 09:30:00    1.143817
2012-03-12 09:30:00    2.925231
2012-03-13 09:30:00    0.175924
2012-03-14 09:30:00   -0.182433
2012-03-15 09:30:00   -1.542362
2012-03-16 09:30:00   -1.020280
2012-03-19 09:30:00   -1.122448
2012-03-20 09:30:00   -0.575022
Freq: B, dtype: float64

In [41]:
ts1 = ts[:7].tz_localize("Europe/London")
ts2 = ts[2:].tz_localize("Europe/Moscow")
ts1

2012-03-07 09:30:00+00:00   -0.512175
2012-03-08 09:30:00+00:00    0.021374
2012-03-09 09:30:00+00:00    1.143817
2012-03-12 09:30:00+00:00    2.925231
2012-03-13 09:30:00+00:00    0.175924
2012-03-14 09:30:00+00:00   -0.182433
2012-03-15 09:30:00+00:00   -1.542362
dtype: float64

In [42]:
ts2

2012-03-09 09:30:00+04:00    1.143817
2012-03-12 09:30:00+04:00    2.925231
2012-03-13 09:30:00+04:00    0.175924
2012-03-14 09:30:00+04:00   -0.182433
2012-03-15 09:30:00+04:00   -1.542362
2012-03-16 09:30:00+04:00   -1.020280
2012-03-19 09:30:00+04:00   -1.122448
2012-03-20 09:30:00+04:00   -0.575022
dtype: float64

In [43]:
result = ts1 + ts2

In [44]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 05:30:00+00:00', '2012-03-09 09:30:00+00:00',
               '2012-03-12 05:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 05:30:00+00:00', '2012-03-13 09:30:00+00:00',
               '2012-03-14 05:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 05:30:00+00:00', '2012-03-15 09:30:00+00:00',
               '2012-03-16 05:30:00+00:00', '2012-03-19 05:30:00+00:00',
               '2012-03-20 05:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

# Periods and Period Arithmetic